<div class="auth-page">
    <div class="image">
      <img src="assets/images/bg-image.png" alt="" class="w-100">
      <div class="text">
        <h1>
          An agricultural data management platform made for you
        </h1>
        <h6>
          Agrobox helps you digitize and automate financial and business activities of farming commodities and farmer groups
        </h6>
      </div>
    </div>
    <div class="login-section">
      <div class="logo">
        <img src="assets/images/logo.png" alt="">
      </div>
      <p class="mt-5 mb-5 title">Login to your account</p>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
        <div class="mb-4 form">
            <label class="" for="email">Username</label>
            <input formControlName="email" placeholder="johndoe@gmail.com" type="email" name="buyer-email" id="buyer-email" class="">
            <div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">
              <div class="text-danger" *ngIf="loginForm.controls.email?.hasError('required')">Required</div>
              <div class="text-danger" *ngIf="loginForm.controls.email?.hasError('email')">Invalid email</div>
            </div>
        </div>
        <div class="mb-4 form">
            <label class="" for="password">Password</label>
            <input formControlName="password" placeholder="********" type="password" name="password" id="password" class="">
            <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
              <div class="text-danger" *ngIf="loginForm.controls.password?.hasError('required')">Required</div>
          </div>
        </div>
        <div class="mb-4 form">
            <button
            class=""
            [disabled]="!loginForm.valid" type="submit">
              <span *ngIf="!submit">Login</span>
              <div *ngIf="submit" class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </button>
        </div>
        <p class="mt-5">2021 Agrobox All Rights Reserved</p>

      <div class="asusu-logo logo mb-3 mt-5">
        <img src="assets/images/logo-new.png" alt="">
      </div>

    </form>
    </div>
</div>
