<div class="dark-font bc-icons-2 breadcrumb" #top>

  <mdb-breadcrumb customClass="black-text grey lighten-5">
    <mdb-breadcrumb-item>
      <mdb-icon fas icon="angle-right" class="mr-1"></mdb-icon> <a [routerLink]="['']">Home</a>
    </mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">
      <mdb-icon fas icon="angle-right" class="mr-1"></mdb-icon> Members
    </mdb-breadcrumb-item>
  </mdb-breadcrumb>

</div>

<div class="container mt-5">
  <div class="row mt-5 mb-5 p-4">
    <strong>Showing: </strong> <span class="ml-2">{{showing}}</span>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-head">
        <div class="vendor">
          <div class="logo">
            <img src="assets/images/header-logo.png" alt="">
          </div>
          <span class="ml-1">{{helper.getVendor().name}}</span>
        </div>
        <button (click)="memberCreateModal.show()">Add member</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <mat-card class="user-card">
          <mat-card-content class="new-user-card-content">
            <div class="m-4">
              <button class="delete" [disabled]="selection.selected.length == 0" (click)="confirmDelete(null)">Delete Selected</button>
            </div>
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
          </mat-form-field>

          <div *ngIf="!loading ; else elseBlock" class="table-wrapper">

              <table mat-table [dataSource]="dataSource">

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                  </td>
              </ng-container>

              <!-- Title Column -->
              <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.first_name? element.first_name: ''}}
                    {{element.middle_name? element.middle_name: ''}}
                    {{element.last_name? element.last_name: ''}}
                  </td>
              </ng-container>

              <!-- Amount Column -->
              <ng-container matColumnDef="account_number">
                  <th mat-header-cell *matHeaderCellDef> Account Number </th>
                  <td mat-cell *matCellDef="let element"> {{element.account_number}} </td>
              </ng-container>

              <!-- Amount Column -->
              <ng-container matColumnDef="state">
                  <th mat-header-cell *matHeaderCellDef> State </th>
                  <td mat-cell *matCellDef="let element"> {{element.state}} </td>
              </ng-container>

              <!-- Amount Column -->
              <ng-container matColumnDef="branch">
                  <th mat-header-cell *matHeaderCellDef> Branch </th>
                  <td mat-cell *matCellDef="let element"> {{element.branch.name}} </td>
              </ng-container>

              <!-- DateColumn -->
              <ng-container matColumnDef="members">
                  <th mat-header-cell *matHeaderCellDef> Members </th>
                  <td mat-cell *matCellDef="let element"> 0 </td>
              </ng-container>

               <!-- DateColumn -->
               <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Date Created </th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.status">Active</span>
                  <span *ngIf="!element.status">Inactive</span>
                </td>
              </ng-container>

              <!-- DateColumn -->
              <ng-container matColumnDef="date_created">
                  <th mat-header-cell *matHeaderCellDef> Date Created </th>
                  <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
              </ng-container>

              <!-- action Column -->
              <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>Action</th>
                  <td mat-cell *matCellDef="let element">
                      <button (click)="view(element)" class="view mr-2">view</button>
                      <button (click)="edit(element)" class="edit mr-2">Edit</button>
                      <!-- <button (click)="confirmDelete(element.id)" class="delete">Delete</button> -->
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>


          </div>

          <mat-paginator [pageSizeOptions]="[20, 40, 60]" showFirstLastButtons></mat-paginator>

          <ng-template #elseBlock>
              <p class="wait">Please wait...</p>
          </ng-template>
          </mat-card-content>
        </mat-card>


    </div>
</div>
</div>


<div style="overflow-y: auto" mdbModal #memberCreateModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mymemberCreateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title w-100" id="myModalLabel">Create a new member</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="memberForm" class="login-form">
         <div class="row">
           <div class="col-md-6">

            <div class="mb-4 form">
              <label class="" for="first_name">First Name *</label>
              <input formControlName="first_name" type="text">
              <div *ngIf="memberForm.controls.first_name.invalid && (memberForm.controls.first_name.dirty || memberForm.controls.first_name.touched)">
                <div class="text-danger" *ngIf="memberForm.controls.first_name?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="middle_name">Middle Name</label>
              <input formControlName="middle_name" type="text">
            </div>

            <div class="mb-4 form">
              <label class="" for="last_name">Last Name *</label>
              <input formControlName="last_name" type="text">
              <div *ngIf="memberForm.controls.last_name.invalid && (memberForm.controls.last_name.dirty || memberForm.controls.last_name.touched)">
                <div class="text-danger" *ngIf="memberForm.controls.last_name?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="branch">Branch *</label>
                <select formControlName="branch_id">
                  <option [value]="null" disabled readonly>Select</option>
                  <option [value]="branch.id" *ngFor="let branch of branches">{{branch.name}}</option>
                </select>
                <div *ngIf="memberForm.controls.branch_id.invalid && (memberForm.controls.branch_id.dirty || memberForm.controls.branch_id.touched)">
                  <div class="text-danger" *ngIf="memberForm.controls.branch_id?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="ippis">IPPIS Number</label>
              <input formControlName="ippis" type="number">
            </div>

            <div class="mb-4 form">
              <label class="" for="date_of_birth">Date of Birth</label>
              <input formControlName="date_of_birth" type="date">
            </div>

            <div class="mb-4 form">
              <label class="" for="gender">Gender *</label>
              <select formControlName="gender">
                <option value="male" selected>Male</option>
                <option value="female">Female</option>
              </select>
              <div *ngIf="memberForm.controls.gender.invalid && (memberForm.controls.gender.dirty || memberForm.controls.gender.touched)">
                <div class="text-danger" *ngIf="memberForm.controls.gender?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="phone">Phone</label>
              <input formControlName="phone" type="number">
            </div>

           </div>
           <div class="col-md-6">

            <div class="mb-4 form">
              <label class="" for="email">Email</label>
              <input formControlName="email" placeholder="johndoe@gmail.com" type="email" name="buyer-email" id="buyer-email" class="">
              <div *ngIf="memberForm.controls.email.invalid && (memberForm.controls.email.dirty || memberForm.controls.email.touched)">
                <div class="text-danger" *ngIf="memberForm.controls.email?.hasError('email')">Invalid email</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="state">State * <span *ngIf="loadingStates" class="ml-2 loading">Please wait...</span></label>
                <select formControlName="state">
                  <option [value]="null" disabled readonly>Select</option>
                  <option [value]="state.name" *ngFor="let state of states">{{state.name}}</option>
                </select>
                <div *ngIf="memberForm.controls.state.invalid && (memberForm.controls.state.dirty || memberForm.controls.state.touched)">
                  <div class="text-danger" *ngIf="memberForm.controls.state?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="lga">Local Government Area *<span *ngIf="loadingLGAS" class="ml-2 loading">Please wait...</span></label>
                <select formControlName="lga">
                  <option [value]="null" disabled readonly>Select</option>
                  <option [value]="lga" *ngFor="let lga of lgas">{{lga}}</option>
                </select>
                <div *ngIf="memberForm.controls.lga.invalid && (memberForm.controls.lga.dirty || memberForm.controls.lga.touched)">
                  <div class="text-danger" *ngIf="memberForm.controls.lga?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
                <label class="" for="city">City <span *ngIf="loadingCities" class="ml-2 loading">Please wait...</span></label>
                <select formControlName="city">
                  <option [value]="null" disabled readonly>Select</option>
                  <option [value]="city" *ngFor="let city of cities">{{city}}</option>
                </select>
            </div>

            <div class="mb-4 form">
              <label class="" for="address">Address</label>
              <input formControlName="address" type="address">
              <div *ngIf="memberForm.controls.address.invalid && (memberForm.controls.address.dirty || memberForm.controls.address.touched)">
                <div class="text-danger" *ngIf="memberForm.controls.address?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="account_number">Account Number *</label>
              <input formControlName="account_number" type="number">
              <div *ngIf="memberForm.controls.account_number.invalid && (memberForm.controls.account_number.dirty || memberForm.controls.account_number.touched)">
                <div class="text-danger" *ngIf="memberForm.controls.account_number?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="membership_date">Membership Date</label>
              <input formControlName="membership_date" type="date">
            </div>

           </div>
         </div>
      </form>
      </div>
      <div class="modal-footer">
        <button
        [disabled]="!memberForm.valid"
        (click)="create()"
        >
          <span *ngIf="!submit">Add Member</span>
          <div *ngIf="submit" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
          </div>
      </button>
      </div>
    </div>
  </div>
</div>

<div style="overflow-y: auto" mdbModal #memberEditModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mymemberEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title w-100" id="myModalLabel">Edit member</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="memberForm" class="login-form">
         <div class="row">
           <div class="col-md-6">

            <div class="mb-4 form">
              <label class="" for="first_name">First Name *</label>
              <input formControlName="first_name" type="text">
              <div *ngIf="memberForm.controls.first_name.invalid && (memberForm.controls.first_name.dirty || memberForm.controls.first_name.touched)">
                <div class="text-danger" *ngIf="memberForm.controls.first_name?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="middle_name">Middle Name</label>
              <input formControlName="middle_name" type="text">
            </div>

            <div class="mb-4 form">
              <label class="" for="last_name">Last Name *</label>
              <input formControlName="last_name" type="text">
              <div *ngIf="memberForm.controls.last_name.invalid && (memberForm.controls.last_name.dirty || memberForm.controls.last_name.touched)">
                <div class="text-danger" *ngIf="memberForm.controls.last_name?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="branch">Branch *</label>
                <select formControlName="branch_id">
                  <option [value]="null" disabled readonly>Select</option>
                  <option [value]="branch.id" *ngFor="let branch of branches">{{branch.name}}</option>
                </select>
                <div *ngIf="memberForm.controls.branch_id.invalid && (memberForm.controls.branch_id.dirty || memberForm.controls.branch_id.touched)">
                  <div class="text-danger" *ngIf="memberForm.controls.branch_id?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="ippis">IPPIS Number</label>
              <input formControlName="ippis" type="number">
            </div>

            <div class="mb-4 form">
              <label class="" for="date_of_birth">Date of Birth</label>
              <input formControlName="date_of_birth" type="date">
            </div>

            <div class="mb-4 form">
              <label class="" for="gender">Gender *</label>
              <select formControlName="gender">
                <option value="male" selected>Male</option>
                <option value="female">Female</option>
              </select>
              <div *ngIf="memberForm.controls.gender.invalid && (memberForm.controls.gender.dirty || memberForm.controls.gender.touched)">
                <div class="text-danger" *ngIf="memberForm.controls.gender?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="phone">Phone</label>
              <input formControlName="phone" type="number">
            </div>

           </div>
           <div class="col-md-6">

            <div class="mb-4 form">
              <label class="" for="email">Email</label>
              <input formControlName="email" placeholder="johndoe@gmail.com" type="email" name="buyer-email" id="buyer-email" class="">
              <div *ngIf="memberForm.controls.email.invalid && (memberForm.controls.email.dirty || memberForm.controls.email.touched)">
                <div class="text-danger" *ngIf="memberForm.controls.email?.hasError('email')">Invalid email</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="state">State * <span *ngIf="loadingStates" class="ml-2 loading">Please wait...</span></label>
                <select formControlName="state">
                  <option [value]="null" disabled readonly>Select</option>
                  <option [value]="state.name" *ngFor="let state of states">{{state.name}}</option>
                </select>
                <div *ngIf="memberForm.controls.state.invalid && (memberForm.controls.state.dirty || memberForm.controls.state.touched)">
                  <div class="text-danger" *ngIf="memberForm.controls.state?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="lga">Local Government Area *<span *ngIf="loadingLGAS" class="ml-2 loading">Please wait...</span></label>
                <select formControlName="lga">
                  <option [value]="null" disabled readonly>Select</option>
                  <option [value]="lga" *ngFor="let lga of lgas">{{lga}}</option>
                </select>
                <div *ngIf="memberForm.controls.lga.invalid && (memberForm.controls.lga.dirty || memberForm.controls.lga.touched)">
                  <div class="text-danger" *ngIf="memberForm.controls.lga?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
                <label class="" for="city">City <span *ngIf="loadingCities" class="ml-2 loading">Please wait...</span></label>
                <select formControlName="city">
                  <option [value]="null" disabled readonly>Select</option>
                  <option [value]="city" *ngFor="let city of cities">{{city}}</option>
                </select>
            </div>

            <div class="mb-4 form">
              <label class="" for="address">Address</label>
              <input formControlName="address" type="address">
              <div *ngIf="memberForm.controls.address.invalid && (memberForm.controls.address.dirty || memberForm.controls.address.touched)">
                <div class="text-danger" *ngIf="memberForm.controls.address?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="account_number">Account Number *</label>
              <input formControlName="account_number" type="number">
              <div *ngIf="memberForm.controls.account_number.invalid && (memberForm.controls.account_number.dirty || memberForm.controls.account_number.touched)">
                <div class="text-danger" *ngIf="memberForm.controls.account_number?.hasError('required')">Required</div>
              </div>
            </div>

            <div class="mb-4 form">
              <label class="" for="membership_date">Membership Date</label>
              <input formControlName="membership_date" type="date">
            </div>

           </div>
         </div>
      </form>
      </div>
      <div class="modal-footer">
        <button
        [disabled]="!memberForm.valid"
        (click)="update()"
        >
          <span *ngIf="!submit">Update Member</span>
          <div *ngIf="submit" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
          </div>
      </button>
      </div>
    </div>
  </div>
</div>

<div style="overflow-y: auto" mdbModal #memberViewModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mymemberViewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">×</span>
        </button>
        <h5 class="modal-title w-100" id="myModalLabel">
          {{memberView?.first_name? memberView?.first_name: ''}}
          {{memberView?.middle_name? memberView?.middle_name: ''}}
          {{memberView?.last_name? memberView?.last_name: ''}}
        </h5>
      </div>
      <div class="modal-body">
        <ul class="list-group member-data list-group-flush">
          <li class="list-group-item d-flex">
            <div class="title"><strong>Account Number</strong></div>
            <div class="value"><strong>{{memberView?.account_number? memberView?.account_number: ''}}</strong></div>
          </li>
          <li class="list-group-item d-flex">
            <div class="title"><strong>Date of birth</strong></div>
            <div class="value">{{memberView?.date_of_birth? memberView?.date_of_birth : ''}}</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="title"><strong>Gender</strong></div>
            <div class="value">{{memberView?.gender? memberView?.gender : ''}}</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="title"><strong>Phone</strong></div>
            <div class="value">{{memberView?.phone? memberView?.phone : ''}}</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="title"><strong>Email</strong></div>
            <div class="value">{{memberView?.email? memberView?.email : ''}}</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="title"><strong>State</strong></div>
            <div class="value">{{memberView?.state? memberView?.state : ''}}</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="title"><strong>LGA</strong></div>
            <div class="value">{{memberView?.lga? memberView?.lga : ''}}</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="title"><strong>City</strong></div>
            <div class="value">{{memberView?.city? memberView?.city : ''}}</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="title"><strong>Address</strong></div>
            <div class="value">{{memberView?.address? memberView?.address : ''}}</div>
          </li>
          <li class="list-group-item d-flex">
            <div class="title"><strong>Membership date</strong></div>
            <div class="value">{{memberView?.membership_date? memberView?.membership_date : ''}}</div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button (click)="confirmDelete(memberView.id)" class="delete">Delete</button>
      </div>
    </div>
  </div>
</div>
