.table-head{
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .vendor{
    display: flex;
    align-items: center;
  }

  button{
    border: unset;
    background-color: #6C9C74;
    color: #fff;
    border-radius: 6px;
    padding: 7px 20px;
    cursor: pointer;
    font-size: 0.8em;

    &:hover{
      background: #026b13;
    }
  }
}


.modal{

  form{
    width: 100%;
   .form{

    label{
      display: block;

      .loading{
        font-size: 0.8em;
        color: #30623C;
      }
    }

    input, select{
      width: 100%;
      border: 1px solid #AAAAAA87;
      border-radius: 2px;
      padding: 5px 10px;
    }
   }
  }

  .modal-footer{
    button{
      border: unset;
      background-color: #6C9C74;
      color: #fff;
      border-radius: 6px;
      padding: 7px 20px;
      cursor: pointer;
      font-size: 0.8em;

      &:hover{
        background: #026b13;
      }
    }

  }
}


table{
  width: 100%;
}
.table-wrapper{
  width: inherit;
  overflow: scroll;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-select {
  overflow: initial;
}

@media screen and (max-width: 900px){
  table{
      width: 1000px;
  }
}

.user-card{
  button{
    border: unset;
    opacity: .7;
    color: #fff;
    border-radius: 6px;
    padding: 7px 20px;
    cursor: pointer;
    font-size: 0.8em;

    &:hover{
      opacity: 1;
    }

    &.delete{
      background-color: #CA9132;
    }
    &.view{
      background-color: #30623C;
    }
    &.edit{
      background-color: #686868;
    }
  }
}


.wait{
  font-size: 0.8em;
  color: #30623C;
}


.member-data{
  .title{
    width: 200px;
  }
}
