/* You can add global styles to this file, and also import other style files */



// .main-nav{
//   background: #fff;
//   height: 60px;
//   width: 100%;
//   position: fixed;
//   top:0;
//   left:0;
//   z-index: 100;
//   padding: 0px 30px;
//   display: flex;
//   align-items: center;
// }

.main-nav{
  background: #30623C;
  height: 60px;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 100;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(230, 230, 230);
}


nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(230, 230, 230);

  .left-side{
    display: flex;
    align-items: center;
  }
  .toggler{
    display: none;
    margin-right: 30px;
    color: #fff;
    i{
      cursor: pointer;
    }
  }
  .logo{
      text-decoration: none;
      height: inherit;
      display: flex;
      align-items: center;

      img{
        height: 30px;
        object-fit: contain;
        margin-right: 40px;
      }

      &:hover{
        opacity: 0.6;
      }
  }
  .main-links{
    margin-left: 30px;
    .links{
      width: 100%;
      display: flex;
      align-items: center;

      a.link{
        color: #fff;
        font-size: 0.9em;
        margin: 0px 30px;

        &:hover{
          opacity: 0.6;
        }
      }
    }
  }

  .icon-links{
    .links{
      width: 100%;
      display: flex;
      align-items: center;

      a.link{
        color: #fff;
        font-size: 0.9em;
        margin: 0 30px;

        &:hover{
          opacity: 0.6;
        }
      }
    }
  }
}

.dropdown-item{
  font-size: 0.8em;
  color: rgb(30, 30, 30)
}

.dropdown-item{
  color: rgb(100, 100, 100) !important;
  font-size: 0.8em !important;
  &:hover{
      color: #000000 !important;
  }
}

.dropdown-toggle{
  border:unset;
  background: unset;
  color: #fff;
}

.dropdown-menu.account{
  left: -150px !important;
}

.user-profile-photo{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.message{
  position: relative;

  .count{
    position: absolute;
    top: -10px;
    right: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    font-size: 0.8em;
    color: #fff;
    align-items: center;
    justify-content: center;
    background: #B70019;
  }
}



@media screen and (max-width: 900px) {
  .nav{
    width: 70% !important;
  }
  .card{
    width: 180px !important;
  }
}


@media screen and (max-width: 768px) {
  .nav{
    width: 150px !important;
  }
  .link:not(.search):not(.message){
    display: none !important;
  }
  .toggler{
    display: flex !important;
  }
  .dropdown-menu{
    left: -150px !important;
  }
}


